{% extends 'school/base.html' %} 

{% block content %}
<div class="jumbotron text-center">
  <h1>ยินดีตอนรับเว็บไซต์ ของ Nick</h1>
  <p>เว็ปไลฟ์สไตล์ของนิคที่มีไว้สำหรับโชว์ผลงาน</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>ผลงานที่ 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>ผลงานที่ 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>ผลงานที่ 3</h3>        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>
   {% endblock content %}



